::-webkit-scrollbar {
  display: none;
}
.App {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(116, 124, 131); */
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  /* background-color: white; */
}
.container {
  display: flex;
  height: 90vh;
  width: 100vw;
  /* background-color: palevioletred; */
}
.leftbox {
  flex: 2;
  border-style: solid;
  border-color: black;
  border-top: 0;
  /* background-color: peru; */
}
li {
  margin: 20px;
  margin-top: 50px;
  font-size: 15px;
  cursor: pointer;
}
.posts {
  /* background-color: cadetblue; */
  flex: 8;
}
.postsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
